ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
}

.logo{
        width: 60px; 
        height: 30px; 
        display: flex;
        align-items: center;
        justify-content: center;
        text-indent: -9999px;
        padding-right: 10px;;
        margin: 6px 0 5px 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(0, 0, 0);
    font-size:20px;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}
.active{
    color: #2D2D2B;
}
li a:hover {
    background-color:#2D2D2B;
    color: #C29C71;
}

